.new-note {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 30px;
  border-radius: 10px;
}

#newTitle::placeholder {
  font-size: xx-large;
  font-weight: 600;
  color: rgb(156, 156, 156);
}

#newTitle {
  width: 100%;
  outline: none;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(156, 156, 156);
  border-width: 0 0 0;
}

#newCategory::placeholder {
  font-size: x-large;
  color: #a6dde4;
}

#newCategory {
  width: 100%;
  outline: none;
  font-size: x-large;
  color: #a6dde4;
  border-width: 0 0 0;
}

#newText::placeholder {
  font-size: larger;
  color: #b6b6b6;
}

#newText {
  width: 100%;
  height: 35px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: #b6b6b6;
  outline: none;
  border-width: 0 0 0;
  min-height: 35px;
  max-height: 100px;
}

#addButton {
  width: 60px;
  height: 28px;
  float: right;
  background-color: #a6dde4;
  color: white;
  border: none;
  font-size: large;
  border-radius: 5px;
}

#addButton:hover {
  background-color: #bee4ea;
  transition: 0.2s ease;
}
