.note {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  line-height: 10px;
  letter-spacing: 1px;
}

#note-title {
  color: #827f7f;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}

#note-category {
  color: #a6dde4;
  font-size: 25px;
  font-weight: 500;
}

#note-message {
  font-size: 22px;
  color: #818181;
  line-height: normal;
}

#del-button {
  border-radius: 5px;
  color: white;
  background-color: #a6dde4;
  border: none;
  width: 90px;
  height: 28px;
  font-size: large;
  margin-top: auto;
}

#del-button:hover {
  background-color: #bee4ea;
}

#note-date {
  color: #a6dde4;
  font-size: 30px;
  font-weight: 500;
}

.note.deleted {
  background-color: #d2d1d1;
}